<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coldstartchallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9be7121-62fd-4dea-8f61-ddf22ab8b575/resourceGroups/ColdStartChallenge3/providers/Microsoft.Web/sites/ColdStartChallenge</ResourceId>
    <UserName>$ColdStartChallenge</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://coldstartchallenge.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>